html, body, #root {
  height: 100%
}
body {
  background-color: #8f8389;
  font-size: 30px;
  height: 100%;
  width: 100%;
  margin: 0 0;
  padding: 0 0;
}
hr{
  border: none;
  border-bottom: 2px solid #8f8389;
  width: 90%;
}
.gameboard {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #c2eaba;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-family: "Quicksand";
  transform: translateX(-50%) translateY(-50%);
  max-height: calc(100% - 20px);
  overflow-y: auto;
}
.score-row {
  width: 100%;
  background-color: #a7c4a0;
  color: #c5f4e0;
  padding: 10px 0;
}
.position-icon {
  background-color: #e6efe9;
  color: black;
  padding: 0 5px;
  margin: 0 5px;
  border-radius: 2px;
  box-shadow: 2px 2px 3px #8f8389;
  font-family: "Raleway";
}

input {
  margin: 10px 5px;
}
.textfield:invalid {
  background-color: #c5f4e0;
}
.textfield {
  text-align: center;
  width: 70%;
  font-family: "Indie Flower";
  background-color: #a7c4a0;
  color: black;
  border: none;
  font-size: 30px;
  border-radius: 10px;
}
.textfield:hover,
.textfield:focus {
  background-color: #e6efe9;
  color: #8f8389;
}
.button {
  border: none;
  padding: 10px 20px;
  background-color: transparent;
  color: #7e9c8f;
  border: 3px solid #7e9c8f;
  transition: border 0.2s;
  font-family: "Quicksand";
  font-size: 40px;
}
.button:hover {
  color: #c5f4e0;
  border: 3px solid #c5f4e0;
}
